<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Guncho.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Guncho.Properties.Settings>
            <setting name="StartRealmName" serializeAs="String">
                <value>The Outer Realm</value>
            </setting>
            <setting name="CachePath" serializeAs="String">
                <value>C:\Guncho\Cache</value>
            </setting>
            <setting name="RealmDataPath" serializeAs="String">
                <value>C:\Guncho\RealmData</value>
            </setting>
            <setting name="PlayersFileName" serializeAs="String">
                <value>playerIndex.xml</value>
            </setting>
            <setting name="RealmsFileName" serializeAs="String">
                <value>realmIndex.xml</value>
            </setting>
            <setting name="NiSkeletonPath" serializeAs="String">
                <value>C:\Guncho\Skeleton.inform</value>
            </setting>
            <setting name="MaxRealmsPerPlayer" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EventGranularity" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="WebAddress" serializeAs="String">
                <value>http://cp.guncho.com/</value>
            </setting>
            <setting name="RealmFailuresAllowed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GreetingFileName" serializeAs="String">
                <value>connect.txt</value>
            </setting>
            <setting name="MotdFileName" serializeAs="String">
                <value>motd.txt</value>
            </setting>
            <setting name="GameServerPort" serializeAs="String">
                <value>4108</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Guncho\Logs</value>
            </setting>
            <setting name="LogSpam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransactionTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="CompilerTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="GuestMotdFileName" serializeAs="String">
                <value>guest.txt</value>
            </setting>
            <setting name="MaxHeapSize" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="NiInstallationsPath" serializeAs="String">
                <value>C:\Guncho\HackedI7</value>
            </setting>
        </Guncho.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
