<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Credits</h1>
        <p>
            Guncho is <a href="https://bitbucket.org/jmcgrew/guncho" target="_blank" title="Bitbucket repository">open source software</a>,
            and it's made possible by the following third-party packages:
        </p>
        <ul>
            <li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
            <li><a href="https://github.com/grevory/angular-local-storage" target="_blank">angular-local-storage</a></li>
            <li><a href="http://www.asp.net/web-api" target="_blank">ASP.NET Web API</a></li>
            <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
            <li><a href="https://github.com/ChicagoDave/FyreVM" target="_blank">FyreVM</a></li>
            <li><a href="https://github.com/erkyrath/glkote" target="_blank">GlkOte</a></li>
            <li><a href="http://inform7.com/" target="_blank">Inform 7</a></li>
            <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
            <li><a href="http://chieffancypants.github.io/angular-loading-bar/" target="_blank">loading-bar</a></li>
            <li><a href="http://signalr.net/" target="_blank">SignalR</a></li>
            <li><a href="https://simpleinjector.codeplex.com/" target="_blank">Simple Injector</a></li>
            <li><a href="https://github.com/thinktecture/Thinktecture.IdentityModel" target="_blank">Thinktecture IdentityModel</a></li>
            <li><a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
            <li><a href="https://github.com/angular-ui/bootstrap" target="_blank">ui-bootstrap</a></li>
            <li><a href="https://github.com/angular-ui/ui-utils" target="_blank">ui-utils</a></li>
        </ul>
    </div>
</div>
