<div class="jumbotron">
    <div class="container">
        <div class="text-center">
            <h1>Guncho.<br /><small>Multiplayer interactive fiction.</small></h1>
        </div>
        <p>
            It's more than a <abbr title="Multi-User Dungeon" class="initialism">MUD</abbr>. It's more than interactive fiction or adventure games.
            Guncho lets you play, write, and share multiplayer interactive fiction using <a href="http://inform7.com/">Inform 7</a>.
        </p>
        <p>
            <a class="btn btn-info" href="#/about" role="button">Learn More &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>