<!DOCTYPE html>
<html data-ng-app="GunchoApp">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Guncho</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" ng-init="navbarExpanded = false" ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Guncho</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#/play">Play Now</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/realms/my">My Realms</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout {{ authentication.userName }}</a></li>
                    <li data-ng-hide="authentication.isAuth"><a href="#/play">Play As Guest</a></li>
                    <li data-ng-hide="authentication.isAuth"><a href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"><a href="#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
    <hr />
    <div id="footer" data-ng-controller="indexController">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">
                        Guncho web client version {{ gunchoClientVersion }}.<br />
                        Powered by <a href="#/credits">vaporware</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 3rd party libraries -->
    <script src="scripts/jquery-2.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/ui-utils.min.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/playService.js"></script>
    <script src="app/services/resources.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/listRealmsController.js"></script>
    <script src="app/controllers/editRealmController.js"></script>
    <script src="app/controllers/playController.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js"></script>
</body>
</html>